<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjup.shorturl.mapper.UserMapper">

    <resultMap id="userMap" type="UserEntity">
        <id column="user_id" property="userId"></id>
        <result column="user_name" property="userName"></result>
        <result column="pass_word" property="passWord"></result>
        <result column="role_id" property="roleId"></result>
    </resultMap>

    <insert id="createUser">
        insert into user (user_name, pass_word, role_id)
        values (#{userName},#{passWord},#{roleId})
    </insert>
    
    <select id="findByUserName" resultMap="userMap">
    	select * from user where user_name = #{userName}
    </select>
    
    <select id="findUserById" resultMap="userMap">
    	select * from user where user_id = #{userId}
    </select>
    
    <update id="updatePwdById">
    	update user set pass_word = #{password} where user_id = #{userId}
    </update>
    
</mapper>